WSConecFM/Service References/WSLayoutFacturacionModernaNeue/Timbrado_Manager.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="https://t2.facturacionmoderna.com/timbrado/soap" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns="http://schemas.xmlsoap.org/wsdl/" name="Timbrado_Manager" targetNamespace="https://t2.facturacionmoderna.com/timbrado/soap" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="https://t2.facturacionmoderna.com/timbrado/soap" />
  </wsdl:types>
  <wsdl:message name="consultaSectorPrimarioIn">
    <wsdl:part name="request" type="xsd:anyType" />
  </wsdl:message>
  <wsdl:message name="consultaSectorPrimarioOut">
    <wsdl:part name="return" type="xsd:anyType" />
  </wsdl:message>
  <wsdl:message name="consultarSaldoIn">
    <wsdl:part name="request" type="xsd:anyType" />
  </wsdl:message>
  <wsdl:message name="consultarSaldoOut">
    <wsdl:part name="return" type="xsd:anyType" />
  </wsdl:message>
  <wsdl:message name="AuthIn">
    <wsdl:part name="param1" type="xsd:anyType" />
    <wsdl:part name="param2" type="xsd:anyType" />
  </wsdl:message>
  <wsdl:message name="AuthOut">
    <wsdl:part name="return" type="xsd:boolean" />
  </wsdl:message>
  <wsdl:message name="validarCFDIIn">
    <wsdl:part name="xml" type="xsd:anyType" />
  </wsdl:message>
  <wsdl:message name="validarCFDIOut">
    <wsdl:part name="return" type="xsd:anyType" />
  </wsdl:message>
  <wsdl:message name="verificarCFDIIn">
    <wsdl:part name="request" type="xsd:anyType" />
    <wsdl:part name="internal" type="xsd:anyType" />
  </wsdl:message>
  <wsdl:message name="verificarCFDIOut">
    <wsdl:part name="return" type="xsd:anyType" />
  </wsdl:message>
  <wsdl:message name="requestTimbrarCFDIIn">
    <wsdl:part name="request" type="xsd:anyType" />
  </wsdl:message>
  <wsdl:message name="requestTimbrarCFDIOut">
    <wsdl:part name="return" type="xsd:anyType" />
  </wsdl:message>
  <wsdl:message name="requestCancelarCFDIIn">
    <wsdl:part name="request" type="xsd:anyType" />
  </wsdl:message>
  <wsdl:message name="requestCancelarCFDIOut">
    <wsdl:part name="return" type="xsd:anyType" />
  </wsdl:message>
  <wsdl:message name="activarCancelacionIn">
    <wsdl:part name="request" type="xsd:anyType" />
  </wsdl:message>
  <wsdl:message name="activarCancelacionOut">
    <wsdl:part name="return" type="xsd:anyType" />
  </wsdl:message>
  <wsdl:portType name="Timbrado_ManagerPort">
    <wsdl:operation name="consultaSectorPrimario">
      <documentation>Consulta del Emisor en Sector Primario 
retorna exito o error</documentation>
      <wsdl:input message="tns:consultaSectorPrimarioIn" />
      <wsdl:output message="tns:consultaSectorPrimarioOut" />
    </wsdl:operation>
    <wsdl:operation name="consultarSaldo">
      <documentation>Recibe la solicitud de un partner para consultar el saldo disponible según los timbres contratados.</documentation>
      <wsdl:input message="tns:consultarSaldoIn" />
      <wsdl:output message="tns:consultarSaldoOut" />
    </wsdl:operation>
    <wsdl:operation name="Auth">
      <documentation>Método de autenticacion para el servicio de validacion de CFDI.</documentation>
      <wsdl:input message="tns:AuthIn" />
      <wsdl:output message="tns:AuthOut" />
    </wsdl:operation>
    <wsdl:operation name="validarCFDI">
      <documentation>Recibe un XML de un CFDI en formato Base64 y realiza las validaciones requeridas por el SAT.</documentation>
      <wsdl:input message="tns:validarCFDIIn" />
      <wsdl:output message="tns:validarCFDIOut" />
    </wsdl:operation>
    <wsdl:operation name="verificarCFDI">
      <documentation>Verifica el estatus de un comprobante en los servicios del SAT. Web Service del Portal https://verificacfdi.facturaelectronica.sat.gob.mx</documentation>
      <wsdl:input message="tns:verificarCFDIIn" />
      <wsdl:output message="tns:verificarCFDIOut" />
    </wsdl:operation>
    <wsdl:operation name="requestTimbrarCFDI">
      <documentation>Recibe un CFDI en formato Base64 y
retorna el complemento Timbre Fiscal Digital</documentation>
      <wsdl:input message="tns:requestTimbrarCFDIIn" />
      <wsdl:output message="tns:requestTimbrarCFDIOut" />
    </wsdl:operation>
    <wsdl:operation name="requestCancelarCFDI">
      <documentation>Recibe un UUID para cancelar 
retorna el estatus del UUID</documentation>
      <wsdl:input message="tns:requestCancelarCFDIIn" />
      <wsdl:output message="tns:requestCancelarCFDIOut" />
    </wsdl:operation>
    <wsdl:operation name="activarCancelacion">
      <documentation>Activar Cancelacion, recibe un archivo .cer, .key y contrasenia del CSD 
retorna exito o error</documentation>
      <wsdl:input message="tns:activarCancelacionIn" />
      <wsdl:output message="tns:activarCancelacionOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Timbrado_ManagerBinding" type="tns:Timbrado_ManagerPort">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="consultaSectorPrimario">
      <soap:operation soapAction="https://t2.facturacionmoderna.com/timbrado/soap#consultaSectorPrimario" />
      <wsdl:input>
        <soap:body use="encoded" namespace="https://t2.facturacionmoderna.com/timbrado/soap" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="https://t2.facturacionmoderna.com/timbrado/soap" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultarSaldo">
      <soap:operation soapAction="https://t2.facturacionmoderna.com/timbrado/soap#consultarSaldo" />
      <wsdl:input>
        <soap:body use="encoded" namespace="https://t2.facturacionmoderna.com/timbrado/soap" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="https://t2.facturacionmoderna.com/timbrado/soap" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Auth">
      <soap:operation soapAction="https://t2.facturacionmoderna.com/timbrado/soap#Auth" />
      <wsdl:input>
        <soap:body use="encoded" namespace="https://t2.facturacionmoderna.com/timbrado/soap" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="https://t2.facturacionmoderna.com/timbrado/soap" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="validarCFDI">
      <soap:operation soapAction="https://t2.facturacionmoderna.com/timbrado/soap#validarCFDI" />
      <wsdl:input>
        <soap:body use="encoded" namespace="https://t2.facturacionmoderna.com/timbrado/soap" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="https://t2.facturacionmoderna.com/timbrado/soap" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="verificarCFDI">
      <soap:operation soapAction="https://t2.facturacionmoderna.com/timbrado/soap#verificarCFDI" />
      <wsdl:input>
        <soap:body use="encoded" namespace="https://t2.facturacionmoderna.com/timbrado/soap" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="https://t2.facturacionmoderna.com/timbrado/soap" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="requestTimbrarCFDI">
      <soap:operation soapAction="https://t2.facturacionmoderna.com/timbrado/soap#requestTimbrarCFDI" />
      <wsdl:input>
        <soap:body use="encoded" namespace="https://t2.facturacionmoderna.com/timbrado/soap" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="https://t2.facturacionmoderna.com/timbrado/soap" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="requestCancelarCFDI">
      <soap:operation soapAction="https://t2.facturacionmoderna.com/timbrado/soap#requestCancelarCFDI" />
      <wsdl:input>
        <soap:body use="encoded" namespace="https://t2.facturacionmoderna.com/timbrado/soap" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="https://t2.facturacionmoderna.com/timbrado/soap" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="activarCancelacion">
      <soap:operation soapAction="https://t2.facturacionmoderna.com/timbrado/soap#activarCancelacion" />
      <wsdl:input>
        <soap:body use="encoded" namespace="https://t2.facturacionmoderna.com/timbrado/soap" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="https://t2.facturacionmoderna.com/timbrado/soap" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Timbrado_ManagerService">
    <wsdl:port name="Timbrado_ManagerPort" binding="tns:Timbrado_ManagerBinding">
      <soap:address location="https://t2.facturacionmoderna.com/timbrado/soap" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>